*{
    background-color: antiquewhite;
}
h1,h2{
    background-color: aquamarine;
}

#Type{
    background-color: azure;
    font-size: 20px;
}

#Type:hover{
    background-color: tomato;
}
#btn1,#btn2{
    padding: 2px;
    border: 2px solid black;
    font-size: 20px;
}
#btn1:hover,#btn2:hover{
    background-color: aqua;
}

#tbl{
    width: 50%;
    font-size: 20px;
}
#in,#pDisp{
    font-size: 25px;
}